/*
========================================================================================================
                                   Start--Header
========================================================================================================
*/

header{
	height: 115px;
	width: 100%;
	background: #172035;;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

}
nav{
margin-left: 500px;
margin-top: 51px;

}

a{
padding: 30px;
margin: 10px;
color: white;
text-decoration: none;
font-family:serif;
font-weight: bold;

}
#logo{
	color: skyblue;
	margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    top: 0px;
    font-family: sans-serif;
    border:solid;
    border-color: skyblue;
}

a:hover {
    color: white;
    background: #09568d;  
    padding: 30px;
    margin:10px;

}
/*
========================================================================================================
                                   End--Header
========================================================================================================
*/

/*
========================================================================================================
                                   Start--courses
========================================================================================================
*/
#html {
    position: absolute;
    top: 115px;
    height: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    background:orange;
}

#html1 {
    position: absolute;
    height: 280px;
    width: 40%;
    left: 800px;
    top: 90px;
}


#css {
    position: absolute;
    top: 515px;
    height: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    background:skyblue;
}

#css2 {
    position: absolute;
    height: 280px;
    width: 40%;
    left: 800px;
    top: 90px;
}

#js {
    position: absolute;
    top: 915px;
    height: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    background:gold;
}

#js1 {
    position: absolute;
    height: 280px;
    width: 40%;
    left: 800px;
    top: 90px;
}
/*
========================================================================================================
                                   End--courses
========================================================================================================
*/
/*
========================================================================================================
                                   Start--button
========================================================================================================
*/
button {
    position: absolute;
    height: 25px;
    width: 10%;
    left: 50px;
    cursor: pointer;
    background: #172035;
    color: white;
}

button:hover {
    background: #09568d;
   
}
/*
========================================================================================================
                                   End--button
========================================================================================================
*/
/*
========================================================================================================
                                   Start--footer
========================================================================================================
*/
footer {
    width: 100%;
    height: 100px;
    background: #172035;
    position: absolute;
    top: 1315px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
========================================================================================================
                                   End--footer
========================================================================================================
*/