/*
========================================================================================================
                                   Start--Header
========================================================================================================
*/

header{
  height: 115px;
  width: 100%;
  background: #172035;;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

}
nav{
margin-left: 500px;
margin-top: 51px;

}

a{
padding: 30px;
margin: 10px;
color: white;
text-decoration: none;
font-family:serif;
font-weight: bold;

}
#logo{
  color: skyblue;
  margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    top: 0px;
    font-family: sans-serif;
    border:solid;
    border-color: skyblue;
}

a:hover {
    color: white;
    background: #09568d;  
    padding: 30px;
    margin:10px;

}
/*
========================================================================================================
                                   End--Header
========================================================================================================
*/
#singup {
	position: absolute;
	left: 0px;
	top:115.5px;
	background: grey;
	height: 650px;
	width: 100%;
}

div.logo {
border: solid;
border-color: skyblue;
color: skyblue;
height: 90px;
width: 25%;
position: absolute;
top: 15px;
left: 500px;

}

#Account {
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  left: 500px;
  
}

div.informations{
	position: absolute;
	top: 210px;
  left: 500px;
  
}

button {
  height: 35px;
  width: 25%;
  background: #172035;
  border:none;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 60px;
}
button:hover {
    background: #09568d;  
  }

/*
========================================================================================================
                                   Start--Footer
========================================================================================================
*/
  footer {
    width: 100%;
    height: 100px;
    background: #172035;
    position: absolute;
    top: 700px;
    left: 0;
  }
p#footer {
  text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}
/*
========================================================================================================
                                   End--Footer
========================================================================================================
*/