/*
========================================================================================================
                                   Start--Header
========================================================================================================
*/

header{
	height: 115px;
	width: 100%;
	background: #172035;;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

}
nav{
margin-left: 500px;
margin-top: 51px;


}

a{
padding: 20px;
margin: 20px;
color: white;
text-decoration: none;
font-family:serif;
font-weight: bold;

}
#logo{
	color: skyblue;
	margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    top: 0px;
    font-family: sans-serif;
    border:solid;
    border-color: skyblue;
}

a:hover {
    color: white;
    background: #09568d;  
    padding: 30px;
    margin:10px;

}
/*
========================================================================================================
                                   End--Header
========================================================================================================
*/
/*
========================================================================================================
                                   contact--section
========================================================================================================
*/

body {
    background-color: grey;
}

div.ci {
border: solid;
border-color: skyblue;
color: skyblue;
height: 90px;
width: 25%;
position: absolute;
top: 150px;
left: 500px;

}

div.info {
  position: absolute;
  top: 300px;
  left: 500px;

}
/*
========================================================================================================
                                   End contact--section
========================================================================================================
*/

/*
========================================================================================================
                                   Start--Footer
========================================================================================================
*/
  footer {
    width: 100%;
    height: 100px;
    background: #172035;
    position: absolute;
    top: 700px;
    left: 0;
  }
p#footer {
  text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}
/*
========================================================================================================
                                   End--Footer
========================================================================================================
*/