/*
========================================================================================================
                                   Start--Header
========================================================================================================
*/

header{
	height: 115px;
	width: 100%;
	background: #172035;;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

}
nav{
margin-left: 500px;
margin-top: 51px;


}

a{
padding: 20px;
margin: 20px;
color: white;
text-decoration: none;
font-family:serif;
font-weight: bold;

}
#logo{
	color: skyblue;
	margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    top: 0px;
    font-family: sans-serif;
    border:solid;
    border-color: skyblue;
}

a:hover {
    color: white;
    background: #09568d;  
    padding: 30px;
    margin:10px;

}
/*
========================================================================================================
                                   End--Header
========================================================================================================
*/

/*
========================================================================================================
                                   Start--First section
========================================================================================================
*/
#background {
	height: 600px;
	width: 100%;
	position: absolute;
	top: 115px;
	left: 0px;
	right: 0px;
}

div.content {
	position: absolute;
	left: 450px;
	top: 300px;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
}

h1 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
p {
	font-size: 1em;
}
button {
    width: 35%;
    height: 50px;
    background: #172035;
    color: white;
    font-size: 2em;
    border:none;
    cursor: pointer;
}
button:hover {
    background: #09568d;
   
}

#singup {
padding: 0px;
margin: 0px;
}

#middle1 {
position: absolute;
left: 0px;
right: 0px; 
background:#a51c30;
color: white;
top: 715px;
height: 150px;
border:solid;
border-color: black;
}

#cyocn {
position: absolute;
	left: 405px;
	top: 10px;
	border: none;
	border-color: black;
	border-radius: 100px;
	background: black;
	font-size: 3em;
}

/*
========================================================================================================
                                   End--First section
========================================================================================================
*/
/*
========================================================================================================
                                   Start--Second section
========================================================================================================
*/
#second {
position: absolute;
top: 870px;
height: 500px;
left: 0;
right: 0;
background:teal;
}

div.coding {
	position: absolute;
    left: 0px;
    top: 100px;
}

#bcsh {
	font-size: 3em;
	font-family: sans-serif;
	color: white;
}


#pargraph{
	font-size: 0.5em;
}

img#code {
height: 400px;
width:60%;
position: absolute;
left: 500px;
top: 60px;
}

#middle2 {
position: absolute;
left: 0px;
right: 0px; 
background:#a51c30;
color: white;
top: 1370px;
height: 150px;
border: solid;
border-color: black;
}


#bpl {

	position: absolute;
	left: 450px;
	top: 13px;
	border: none;
	border-color: black;
	border-radius: 100px;
	background: black;
	font-size: 3em;
}

/*
========================================================================================================
                                   End--Second section
========================================================================================================
*/

/*
========================================================================================================
                                   start--Third section
========================================================================================================
*/
#third {
position: absolute;
top: 1525px;
height: 500px;
left: 0;
right: 0;
background: teal; 
}

#learn {
	font-size: 2.5em;
	font-family: sans-serif;
	color: white;
	position: absolute;
	left: 0px;
	top: 100px;
}
#pargraph2{
	font-size: 0.6em;
}

img#index
{
height: 300px;
width:45%;
position: absolute;
left: 600px;
top: 60px;
}

/*
========================================================================================================
                                   End--Third section
========================================================================================================
*/
/*
========================================================================================================
                                   Start--Footer
========================================================================================================
*/
footer {
    width: 100%;
    height: 100px;
    background: #172035;
    position: absolute;
    top: 2000px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}
/*
========================================================================================================
                                   End--Footer
========================================================================================================
*/
