/*
========================================================================================================
                                   Start--Header
========================================================================================================
*/

header{
	height: 115px;
	width: 100%;
	background: #172035;;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

}
nav{
margin-left: 500px;
margin-top: 51px;

}

a{
padding: 30px;
margin: 10px;
color: white;
text-decoration: none;
font-family:serif;
font-weight: bold;

}
#logo{
	color: skyblue;
	margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    top: 0px;
    font-family: sans-serif;
    border:solid;
    border-color: skyblue;
}

a:hover {
    color: white;
    background: #09568d;  
    padding: 30px;
    margin:10px;

}
/*
========================================================================================================
                                   End--Header
========================================================================================================
*/
/*
========================================================================================================
                                   Start--Programming(S)
========================================================================================================
*/
#web {
    position: absolute;
    top: 115px;
    height: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    background: steelblue;
    color: black;
    font-size: medium;

    
}

#wd {
    position: absolute;
    height: 280px;
    width: 40%;
    left: 800px;
    top: 90px;
}


#apd {
    position: absolute;
    top: 515px;
    height: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    background: darkolivegreen;
    color: black;
    font-size: medium;
}

#ad {
    position: absolute;
    height: 280px;
    width: 40%;
    left: 800px;
    top: 90px;
}

#gpd {
    position: absolute;
    top: 915px;
    height: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    background: burlywood;
    color: black;
    font-size: medium;
}

#gd {
    position: absolute;
    height: 280px;
    width: 40%;
    left: 800px;
    top: 90px;

}
#mel {
    position: absolute;
    top: 1315px;
    height: 400px;
    width: 100%;
    left: 0px;
    right: 0px;
    background: slateblue;
    color: black;
    font-size: medium;
}

#ml {
    position: absolute;
    height: 280px;
    width: 40%;
    left: 800px;
    top: 90px;
}

/*
========================================================================================================
                                   End--Programming(S)
========================================================================================================
*/
/*
========================================================================================================
                                   Start--Footer
========================================================================================================
*/
footer {
    width: 100%;
    height: 100px;
    background: #172035;
    position: absolute;
    top: 1715px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}
/*
========================================================================================================
                                   End--Footer
========================================================================================================
*/